.git
.github
**/tests
**/docs
**/documents
**/__pycache__
**/*.log
**/*.md
smart-building-backend
smart-building-frontend/dist
smart-building-frontend/dev-server.py
smart-building-frontend/Dockerfile.dev

